<h1>Welcome To Talk Box. . .</h1>
<h3>Speak Your Mind About The Real World. . .</h3>

<button><a href="/">Home</a></button>
<button><a href="/login/">Login</a></button>
<button><a href="/talker_page/{{request.user.id}}/">Talk Page</a></button>
<button><a href="/new_post/">Talk Box</a></button>
<button><a href="/logout/">Logout</a></button>
<button><a href="/signup/">Sign Up</a></button>


{% for statement in connection_list %}

<p><a href="/talker_page/{{statement.spokesmen.id}}/">{{statement.spokesmen}}</a></p>
<p><a href="/posts/{{statement.id}}/">{{statement.body}}</a></p>

{% endfor %}