<button><a href="/">Home</a></button>
<button><a href="/login/">Login</a></button>
<button><a href="/talker_page/{{request.user.id}}/">Talk Page</a></button>
<button><a href="/new_post/">Talk Box</a></button>
<button><a href="/logout/">Logout</a></button>
<button><a href="/signup/">Sign Up</a></button>

<h3>{{tha_talker.followers.count}}</h3>

<a href='/connection/{{tha_talker.id}}'>Connection</a>
<a href='/disconnection/{{tha_talker.id}}'>Disconnection</a>

<ul>

    {% for speaking in all_posts %}

    <li>
        <p>{{speaking.body}}</p>
        <p>{{speaking.spokesmen}}</p>
    </li>

    {% endfor %}
    
</ul>

<p>Connection List</p>

<p>{% for c in tha_talker.followers.all %}

        <p>{{c}}</p>
    {% endfor %}
</p>